#sketch-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1502px;
    border: solid 1px lightslategray;
    
}

.box {
    min-width: 23px;
    min-height: 23px;
    border: solid 1px grey;
    background-color: black;
    opacity: 0;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.instructions {
    text-align: center;
}